@model MoodPlus.Models.Patient

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Streak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Streak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongestStreak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongestStreak)
        </dd>
    </dl>
</div>
