@{
    ViewData["Title"] = "About Us";
}

<h1>Click on our images to go to our Linkedin profiles!</h1>
 <div class="grid-container">
      <div class="photo-card">
        <a href="https://www.linkedin.com/in/xavier-martin-profile/">
        <img class="image" src=/img/Xavier1.jpg alt="Xavier" />
        </a>
            <ul>Xavier Martin</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p> I developed part of the backend and implemented a carousel for the resources page. I worked on helping Dina with Color Palette. Did some leadership with the team during sprint 2 and assisted team members with development during the second and third weeks.</p>
     </div>
      <div class="photo-card">
        <a href="https://www.linkedin.com/in/adenlangdon/">
            <img class="image" src=/img/Aden.jpg alt="Aden" />
        </a>
            <ul>Aden Langdon</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>I enjoyed working on this website! I was responsible for implementing the inbox functionality as well as the resources page functionality. Also, I got to style those pages!</p>
     </div>
     <div class="photo-card">
         <a href="https://www.linkedin.com/in/morgandina/">
        <img class="image" src=/img/Dina2.jpg alt="Dina" />
         </a>
            <ul>Dina Morgan</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>Team Lead week 1, Graph set up using Canvas.JS, Entry pages, chose light color scheme</p>
     </div>
      <div class="photo-card">
        <a href="https://www.linkedin.com/in/thomasrichardjoyce/">
        <img class="image" src=/img/Thomas.jpg alt="Thomas" />
        </a>
            <ul>Thomas Joyce</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>I really enjoyed setting up our teams scrum board. I Paired programmed to create our applications streak, resource, note and about us page plus added styling to them.</p>
     </div>
      <div class="photo-card">
        <a href="www.linkedin.com/in/michael-granzeier">
        <img class="image" src=/img/Michael.jpg alt="Michael" />
        </a>
            <ul>Michael Granzeier</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>My greatest passions are science and technology and I live to learn.</p>
     </div>
      <div class="photo-card">
        <a href="https://www.linkedin.com/in/miguelrosado3/">
        <img class="image" src=/img/Miguel.jpg alt="Miguel" />
        </a>
            <ul>Miguel Rosado</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>
                I’m into sneakers, hats, videogames and spending time with my family. Coding for me is something I recently just got into. On an average day you can find me playing Fortnite and listening to music or eating a nice big bowl of Chipotle while watching Cocomelon with my two baby boys.
            </p>
     </div>
 </div>

@section Styles{
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
}