@{
    ViewData["Title"] = "About Us";
}
 <div class="grid-container">
      <div class="photo-card">
        <img class="image" src=/img/Xavier1.jpg alt="Xavier" />
            <ul>Xavier Martin</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p> I developed part of the backend and implemented a carousel for the resources page. I worked on helping Dina with Color Palette. Did some leadership with the team during sprint 2 and assisted team members with development during the second and third weeks.</p>
     </div>
      <div class="photo-card">
        <img class="image" src=/img/Aden.jpg alt="Aden" />
            <ul>Aden Langdon</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>I enjoyed working on this website! I was responsible for implementing the inbox functionality as well as the resources page functionality. Also, I got to style those pages!</p>
     </div>
     <div class="photo-card">
        <img class="image" src=/img/Dina2.jpg alt="Dina" />
            <ul>Dina Morgan</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>Team Lead week 1, Graph set up using Canvas.JS, Entry pages, choose light color scheme</p>
     </div>
      <div class="photo-card">
        <img class="image" src=/img/Thomas.jpg alt="Thomas" />
            <ul>Thomas Joyce</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>TYPE CONTRIBUTIONS HERE</p>
     </div>
      <div class="photo-card">
        <img class="image" src=/img/Michael.jpg alt="Michael" />
            <ul>Michael Granzeier</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>My greatest passions are science and technology and I live to learn.</p>
     </div>
      <div class="photo-card">
        <img class="image" src=/img/Miguel.jpg alt="Miguel" />
            <ul>Miguel Rosado</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>
                I’m into sneakers, hats, videogames and spending time with my family. Coding for me is something I recently just got into. On an average day you can find me playing Fortnite and listening to music or eating a nice big bowl of Chipotle while watching Cocomelon with my two baby boys.
                Add me if you want to get wrecked or check out my stream!
                Epic ID: Advocatex216 / Twitch: Advocate216
            </p>
     </div>
 </div>

@section Styles{
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
}