@{
    ViewData["Title"] = "About Us";
}

<h1>Meet the Team</h1>
 <div class="grid-container">
      <div class="photo-card">
        <a href="https://github.com/xXGameDesignerx" target="_blank">
        <img class="image" src=/img/Xavier1.jpg alt="Xavier" />
        </a>
            <ul>Xavier Martin</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p> I developed part of the backend and implemented a carousel for the resources page. I worked on helping Dina with Color Palette. Did some leadership with the team during sprint 2 and assisted team members with development during the second and third weeks.</p>
     </div>
      <div class="photo-card">
        <a href="https://github.com/AdenTL" target="_blank">
            <img class="image" src=/img/Aden.jpg alt="Aden" />
        </a>
            <ul>Aden Langdon</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>I enjoyed working on this website! I was responsible for implementing the inbox functionality as well as the resources page functionality. I was the team leader for the thrid and final week! Also, I made sure the resources page was accessible, responsive, and styled!</p>
     </div>
     <div class="photo-card">
         <a href="https://github.com/DinabMorgan" target="_blank">
        <img class="image" src=/img/Dina2.jpg alt="Dina" />
         </a>
            <ul>Dina Morgan</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>I enjoyed working on this project with the group. I worked on creating  top area of the graph where the moods get displayed, as well as creating the color modes, applying the colors, and doing the styling for all of Journal. I was team lead for week 1. </p>

     </div>
      <div class="photo-card">
        <a href="https://github.com/ThomasJoyce1999" target="_blank">
        <img class="image" src=/img/Thomas.jpg alt="Thomas" />
        </a>
            <ul>Thomas Joyce</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>I really enjoyed setting up our teams scrum board. I Paired programmed to create our applications streak, resource, note and about us page plus added styling to them.</p>
     </div>
      <div class="photo-card">
        <a href="https://github.com/MichaelGranzeier" target="_blank">
        <img class="image" src=/img/Michael.jpg alt="Michael" />
        </a>
            <ul>Michael Granzeier</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>My greatest passions are science and technology and I live to learn. For this application, I worked on implementing the streak logic in addition to the individual mood statistic graphs.</p>
     </div>
      <div class="photo-card">
        <a href="https://github.com/xXxMRcanCsharpxXx?tab=repositories" target="_blank">
        <img class="image" src=/img/Miguel.jpg alt="Miguel" />
        </a>
            <ul>Miguel Rosado</ul>
            <ul id="card-seperate">C# Full-Stack Developer</ul>
            <p>
                I’m into sneakers, hats, videogames and spending time with my family. Coding for me is something I recently just got into. On an average day you can find me playing Fortnite and listening to music or eating a nice big bowl of Chipotle while watching Cocomelon with my two baby boys.
            </p>
     </div>
 </div>

@section Styles{
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
}