@{
    ViewData["Title"] = "About Us";
}
 <div class="grid-container">
     <div>
        <img class="image" src=/img/Dina.jpg alt="Dina" />
            <ul>Name: Dina</ul>
            <ul>Bio: C# Full-Stack Developer</ul>
     </div>
     <div>
        <img class="image" src=/img/Aden.jpg alt="Aden" />
            <ul>Name: Aden</ul>
            <ul>Bio: C# Full-Stack Developer</ul>
     </div>
     <div>
        <img class="image" src=/img/Xavier1.jpg alt="Xavier" />
            <ul>Name: Xavier</ul>
            <ul>Bio: C# Full-Stack Developer</ul>
     </div>
     <div>
        <img class="image" src=/img/Michael.jpg alt="Michael" />
            <ul>Name: Michael</ul>
            <ul>Bio: C# Full-Stack Developer</ul>
     </div>
     <div>
        <img class="image" src=/img/Thomas.jpg alt="Thomas" />
            <ul>Name: Thomas</ul>
            <ul>Bio: C# Full-Stack Developer</ul>
     </div>
     <div>
        <img class="image" src=/img/Miguel.jpg alt="Miguel" />
            <ul>Name: Miguel</ul>
            <ul>Bio: C# Full-Stack Developer</ul>
     </div>
 </div>

@section Styles{
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
}