@{
    ViewData["Title"] = "About Us";
}
 <div class="grid-container">
      <div class="photo-card">
        <img class="image" src=/img/Xavier1.jpg alt="Xavier" />
            <ul>Xavier Martin</ul>
            <ul>C# Full-Stack Developer</ul>
            <p>TYPE CONTRIBUTIONS HERE</p>
     </div>
      <div class="photo-card">
        <img class="image" src=/img/Aden.jpg alt="Aden" />
            <ul>Aden Langdon</ul>
            <ul>C# Full-Stack Developer</ul>
            <p>TYPE CONTRIBUTIONS HERE</p>
     </div>
     <div class="photo-card">
        <img class="image" src=/img/Dina.jpg alt="Dina" />
            <ul>Dina Morgan</ul>
            <ul>C# Full-Stack Developer</ul>
            <p>TYPE CONTRIBUTIONS HERE</p>
     </div>
      <div class="photo-card">
        <img class="image" src=/img/Michael.jpg alt="Michael" />
            <ul>Michael Granzeier</ul>
            <ul>C# Full-Stack Developer</ul>
            <p>TYPE CONTRIBUTIONS HERE</p>
     </div>
      <div class="photo-card">
        <img class="image" src=/img/Thomas.jpg alt="Thomas" />
            <ul>Thomas Joyce</ul>
            <ul>C# Full-Stack Developer</ul>
            <p>TYPE CONTRIBUTIONS HERE</p>
     </div>
      <div class="photo-card">
        <img class="image" src=/img/Miguel.jpg alt="Miguel" />
            <ul>Miguel Rosado</ul>
            <ul>C# Full-Stack Developer</ul>
            <p>TYPE CONTRIBUTIONS HERE</p>
     </div>
 </div>

@section Styles{
    <link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
}