/*Carousel css*/
.carousel {
    position: relative;
    padding: 20px;
    max-width: 690px;
}

.carousel__item {
    max-height: 410px;
    background: var(--HoverColor);
    padding: 0.5em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: var(--PrimaryColor);
    display: none;
}

.carousel__item--selected {
    display: block;
}

.carousel__nav {
    width: 100%;
    padding: 0px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: var(--HoverColor);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel__button--selected {
    background: var(--PrimaryColor);
}
