@{
    ViewData["Title"] = "Resources Page";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to find links to helpful resources!</p>
<ul>
    <img src="~/img/vetcrisisline.jpg" alt="Veterans Crisis Hotline"/>
    <li>
        <a id="vetHotLine" href="https://www.pleaselive.org/hotlines/">List of national hotlines</a>
        <p>This link will provide all hotlines available on pleaselive.org</p>
    </li>

    <li>
        <a id="helixcenter-link" href="https://www.youtube.com/watch?v=_es96clsC9U&ab_channel=helixcenter">The Meditative State by: helixcenter</a>
        <p>If you are bored, this is a lengthy video but it is a good perspective change.  </p>
    </li>
</ul>
