@{
    ViewData["Title"] = "Resources Page";
}

<h1>@ViewData["Title"]</h1>

<h2>Use this page to find links to helpful resources!</h2>
<div>

        <img src="~/img/suicidePrevention.png" alt="National Crisis Hotlines"/>

        <a id="vetHotLine" href="https://www.pleaselive.org/hotlines/">List of national hotlines</a>
        <h4>This link will provide all hotlines available on pleaselive.org</h4>
   
</div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_es96clsC9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Check this out, this is a lengthy video but it is a good perspective change by helixcenter. </h4>
<div>
        <img src="~/img/stJoseph.jpg" alt="Saint Joseph Medical Facility" href="https://stjosephkc.com/our-services/outpatient-rehabilitation/" />
        <p>Saint Joseph Medical Facility. Use this link to gather information.</p>
        
 
        <img src="~/img/R.jpg" alt="Aurora Mental Health"/>
        <a id="auroraMentalHealth" href="https://www.mentalhealthcenters.net/">Find a mental health facility near you.</a>
</div>
<div>  

    <h4>Ted talk videos discussing mental health and conquering some of the obstacles.</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WWloIAQpMcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
   
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TFbv757kup4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MB5IX-np5fE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/vZT-bB66iIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
