@{
    ViewData["Title"] = "Helpful Resources";
}
@section Styles{
    <link rel="stylesheet" href="~/css/help.css" asp-append-version="true"/>
}

<h1>@ViewData["Title"]</h1>

<h2>Click the images to be directed to that resource's website.</h2>
<p>Warning: Please note that these videos may be unsettling to some viewers. Viewer Discretion is advised, Keep in mind that these videos are educational, they are real life problems. Seek help with these links below: </p>
<div class="resource-container">
    <div class="resource-card">
    <a href="https://www.pleaselive.org/hotlines/"><img src="~/img/suicidePrevention.png" alt="National Crisis Hotlines" /></a>
        <p>Click this image link for a list of all available hotlines.</p>
    </div>
   <div class="resource-card">
    <a href ="https://stjosephkc.com/our-services/outpatient-rehabilitation/"><img src="~/img/stJoseph.jpg" alt="Saint Joseph Medical Facility" /></a>
         <p>Saint Joseph Medical Center's website. Click the image to be directed to the physical therapy information page.</p>
   </div>
   <div class="resource-card">
    <a href="https://www.mentalhealthcenters.net/"><img src="~/img/1637182633logo.png" alt="Locate Mental Health facilities" /></a>
        <p>This link will navigate you to a great resource used to help you find the right mental health facility near you! Search by City, County, or Zip.</p>
   </div>
</div>

<div class="carousel">
    <h3>Here is a few educational discussions about mental health.</h3>
    <div class="carousel__item">
        <h2>Ted Talk: How To Cope With Anxiety</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WWloIAQpMcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
        <h2>Ted Talk: The Secret of Becoming Mentally Strong</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TFbv757kup4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
        <h2>Ted Talk: This Could Be Why You're Depressed or Anxious</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MB5IX-np5fE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
        <h2>Ted Talk: How to Get Rid of Loneliness and Become Happy</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vZT-bB66iIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
        <h2>The Meditative State</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_es96clsC9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
@*  <span class="carousel__button"></span>
    <span class="carousel__button"></span>
    <span class="carousel__button"></span>
    <span class="carousel__button"></span>
    <span class="carousel__button"></span>*@



    <script src="~/js/Help.js"></script>
</div>

@*<div>   WE CAN PROBABLY DELETE THESE COMMENTS 
    <iframe width="600" height="325" src="https://www.youtube.com/embed/_es96clsC9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>Check this out, this is a lengthy video but it is a good perspective change by helixcenter. </h4>
</div>

<div>
    <h4>Ted talk videos discussing mental health and conquering some of the obstacles.</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WWloIAQpMcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
   
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TFbv757kup4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MB5IX-np5fE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/vZT-bB66iIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>*@