@{
    ViewData["Title"] = "Resources Page";
}

<h1>@ViewData["Title"]</h1>

<h2>Use this page to find links to helpful resources!</h2>
<p>Warning: Please note that these videos may be unsettling to some veiewers. Viewer Discretion is Advised, Keep in mind that these videos are educational, they are real life problems. Seek help with these links below: </p>
<div>

    <a id="vetHotLine" href="https://www.pleaselive.org/hotlines/"><img src="~/img/suicidePrevention.png" alt="National Crisis Hotlines" />List of national hotlines</a>
        <h4>This link will provide all hotlines available on pleaselive.org</h4>
   
    <a href ="https://stjosephkc.com/our-services/outpatient-rehabilitation/"><img src="~/img/stJoseph.jpg" alt="Saint Joseph Medical Facility" /></a>
        <p>Saint Joseph Medical Facility. Use this link to gather information.</p>

    <a id="auroraMentalHealth" href="https://www.mentalhealthcenters.net/"><img src="~/img/R.jpg" alt="Aurora Mental Health" />Find a mental health facility near you.</a>
</div>

<div class="carousel">
    <div class="carousel__item">
        Ted Talk: How To Cope With Anxiety
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WWloIAQpMcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
        Ted Talk: The Secret of Becoming Mentally Strong
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TFbv757kup4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
        Ted Talk: This Could Be Why You're Depressed or Anxious
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MB5IX-np5fE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
        Ted Talk: How to Get Rid of Loneliness and Become Happy
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vZT-bB66iIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel__item">
        The Meditative State
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_es96clsC9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <span class="carousel__button"></span>
    <span class="carousel__button"></span>
    <span class="carousel__button"></span>
    <span class="carousel__button"></span>
    <span class="carousel__button"></span>
    <script src="~/js/Help.js"></script>
</div>

@*<div>
    <iframe width="600" height="325" src="https://www.youtube.com/embed/_es96clsC9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h4>Check this out, this is a lengthy video but it is a good perspective change by helixcenter. </h4>
</div>

<div>
    <h4>Ted talk videos discussing mental health and conquering some of the obstacles.</h4>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WWloIAQpMcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
   
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TFbv757kup4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MB5IX-np5fE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/vZT-bB66iIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>*@