@{
    ViewData["Title"] = "Resources Page";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to find links to helpful resources!</p>
<ul>
    <img src="~/img/vetcrisisline.jpg" alt="Veterans Crisis Hotline"/>
    <li>
        <a id="vetHotLine" href="https://www.pleaselive.org/hotlines/">National Suicide Prevention Lifeline for Veterans</a>
    </li>

    <li>
        <a id="helixcenter-link" href="https://www.youtube.com/watch?v=_es96clsC9U&ab_channel=helixcenter">The Meditative State by: helixcenter</a>
    </li>
</ul>
