@{
    ViewData["Title"] = "Home Page";
}

<body>
    <img src="/img/moodplusv12.png" align="top" width="1300" height="1000"/>
    <section>
        <div class="box">
        <h2>Welcome To Mood+</h2>
            <p>We are here to give users an experience that will track their moods and reflect on them. You can leave comments and have them showcased within our graph-based database. </p>
            <p>We hope you enjoy our website and start working on overcoming your moods and emotions to better impact your life for the better. </p>
            <p>Let's begin your journey today and hope we help you on your path to a better life.</p>
        </div>
    </section>
</body>
<container>
    <div id="paraHome">
        <p>This is a project from WCCIT C# Full Stack Developers. This project started with an idea about many ideas from emotional apps, to health app that tracks diabetics. Our group started with many ideas, but our instructors informed us we could only do one of them.</p>
        <p>Many of the first parts of the development were hard to start because we wanted to think about how the app wanted to look. During development, the first week and a half were struggling with trying to get functionality. </p>
        <p>Third week was better since we were able to finish the functionality by then and establish our goals. In the end, it was a lot of front-end development that pushed us to make a wonderful and helpful app.</p>
    </div>
</container>
