@{
    ViewData["Title"] = "Home Page";
}

<body>
    <img src="/img/moodplusv12.png" align="top" width="1300" height="1100"/>
    <section>
        <div class="box">
        <h2>Welcome To MoodPlus</h2>
            <p>We are here to give users an experience that will track their moods and reflect on them. You can leave comments and have them showcased within our graph-based database. </p>
            <p>We hope you enjoy our website and start working on overcoming your moods and emotions to better impact your life for the better. </p>
            <p>Let's begin your journey today and hope we help you on your path to a better life.</p>
        </div>
    </section>
</body>
<container>
    <div id="paraHome">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus urna neque viverra justo nec ultrices dui sapien. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Ut etiam sit amet nisl purus in mollis nunc sed. Id venenatis a condimentum vitae. Sit amet mauris commodo quis imperdiet massa. Integer quis auctor elit sed vulputate mi sit amet mauris. Massa id neque aliquam vestibulum morbi blandit. Leo a diam sollicitudin tempor id eu nisl nunc mi. Fringilla urna porttitor rhoncus dolor. Gravida rutrum quisque non tellus orci ac. Lorem donec massa sapien faucibus et molestie. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim.
        </p>
            Semper quis lectus nulla at volutpat. Mauris augue neque gravida in fermentum et. Senectus et netus et malesuada fames ac. Tellus molestie nunc non blandit massa. Dictumst vestibulum rhoncus est pellentesque. Eget nunc lobortis mattis aliquam faucibus purus in. Libero nunc consequat interdum varius sit amet mattis vulputate. Condimentum id venenatis a condimentum. Non blandit massa enim nec dui nunc mattis enim. Enim praesent elementum facilisis leo vel fringilla est. Praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Elementum eu facilisis sed odio morbi quis commodo odio. Lectus nulla at volutpat diam ut venenatis. Integer eget aliquet nibh praesent tristique magna sit. Auctor elit sed vulputate mi sit amet mauris commodo quis. Id diam vel quam elementum pulvinar etiam.
        <p>
            Gravida quis blandit turpis cursus. Augue ut lectus arcu bibendum at. Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Ut sem viverra aliquet eget sit amet tellus cras adipiscing. Venenatis tellus in metus vulputate. Gravida rutrum quisque non tellus. Vel pretium lectus quam id. Massa enim nec dui nunc mattis enim ut tellus. Sapien et ligula ullamcorper malesuada proin. Ipsum suspendisse ultrices gravida dictum fusce ut placerat. Eget felis eget nunc lobortis mattis aliquam faucibus purus. Augue mauris augue neque gravida in fermentum et sollicitudin.
        </p>
            Arcu bibendum at varius vel. Enim eu turpis egestas pretium. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. Tristique senectus et netus et malesuada. Mattis ullamcorper velit sed ullamcorper morbi tincidunt. At varius vel pharetra vel turpis nunc eget lorem dolor. Viverra ipsum nunc aliquet bibendum enim. Nunc pulvinar sapien et ligula ullamcorper. Velit euismod in pellentesque massa placerat duis ultricies lacus. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique.
        <p>
            Magna fringilla urna porttitor rhoncus dolor purus non enim. Euismod lacinia at quis risus sed vulputate odio ut. Tristique nulla aliquet enim tortor. Diam maecenas sed enim ut sem viverra aliquet eget. Magna sit amet purus gravida quis blandit turpis. Mauris augue neque gravida in fermentum. Praesent elementum facilisis leo vel fringilla est. Pellentesque eu tincidunt tortor aliquam nulla facilisi. Fermentum et sollicitudin ac orci phasellus egestas tellus. Et egestas quis ipsum suspendisse ultrices. Justo eget magna fermentum iaculis eu non diam. Euismod quis viverra nibh cras pulvinar.
        </p>
    </div>
</container>
