@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Disclaimer</h1>
    <p>We are not professional therapists.</p><br/>
    <p>Please seek profissional help if needed.</p>
</div>
