@{
    ViewData["Title"] = "Home Page";
}
 <div class="grid-container">

<img class="image" src=/img/Dina.jpg alt="Dina" />

<img class="image" src=/img/Aden.jpg alt="Aden" />
        
<img class="image" src=/img/Xavier.jpg alt="Xavier" />
<img class="image" src=/img/Michael.jpg alt="Michael" />
        
<img class="image" src=/img/Thomas.jpg alt="Thomas" />
<img class="image" src=/img/Miguel.jpg alt="Miguel" />

 </div>