@{
    ViewData["Title"] = "Home Page";
}

<body>
    <img src="/img/moodplusv12.png" align="top" width="1300" height="1000"/>
    <section>
        <div class="box">
        <h2>Welcome To Mood+</h2>
            <p>We are here to give users an experience that will track their moods and reflect on them. You can leave comments and have them showcased within our graph-based database. </p>
            <p>We hope you enjoy our website and start working on overcoming your moods and emotions to better impact your life for the better. </p>
            <p>Let's begin your journey today and hope we help you on your path to a better life.</p>
        </div>
    </section>
</body>
<container>
    <div id="paraHome">
        <p>Mood+ is a project from We Can Code IT C# Full Stack Developers cohort. The project started as a collaborative idea between everyone in the cohort. The team worked on outlining the function and visual feel of the project.
            Once we had our goals, the team brought in their learned knowledge to make the app come alive.
            If you have any questions, please look at the About Us section to see what the team is doing next and how you can get in touch with us!</p>
    </div>
</container>
