@{
    ViewData["Title"] = "Home Page";
}

<body>
    <img src="/img/moodplusv10.png"/>
    <section>
        <div class="box">
        <h2>Welcome To MoodPlus</h2>
            <p>We are here to give users an experience that will track their moods and reflect on them. You can leave comments and have them showcased within our graph-based database. </p>
            <p>We hope you enjoy our website and start working on overcoming your moods and emotions to better impact your life for the better. </p>
            <p>Let's begin your journey today and hope we help you on your path to a better life.</p>
        </div>
    </section>
</body>
