
﻿<div class="text-center">
    <h1 class="display-4">Disclaimer</h1>
    <p>We are not Professional therapists.</p><br />
    <p>Please seek Professional help if needed.</p>
</div>
﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<p>
PRIVACY NOTICE

Last updated August 19, 2022

This privacy notice for MoodPlus ("Company," "we," "us," or "our"), describes how and why we might collect, store, use, and/or share ("process") your information when you use our services ("Services"), such as when you:
Visit our website or any website of ours that links to this privacy notice.
</p>

<p>

1. WHAT INFORMATION DO WE COLLECT?

Personal information you disclose to us

In Short: We collect personal information that you provide to us.

We collect personal information that you voluntarily provide to us when you register on the Services, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Services, or otherwise when you contact us.
</p>

<p>
Personal Information Provided by You. The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make, and the products and features you use. The personal information we collect may include the following:
email addresses
passwords
Sensitive Information. When necessary, with your consent or as otherwise permitted by applicable law, we process the following categories of sensitive information:
emotional data
</p>