@model Patient 
<div class=" streakNav">

<a  asp-controller="Patient" asp-action="Details" asp-route-id="@User.Identity.Name"> 
    <button id="navItemStreak">
        Current 🔥  @Model.Streak /
        Longest 🔥 @Model.LongestStreak
    </button>
</a>

@*<a id="navItemStreak2">
   Longest 🔥 @Model.LongestStreak
</a>
</div>*@

