@model Patient 
<li id="streakNav">

    <a  asp-controller="Patient" asp-action="Details" asp-route-id="@User.Identity.Name"> 
        <button id="navItemStreak">
            Current 🔥  @Model.Streak /
            Longest 🔥 @Model.LongestStreak
        </button>
    </a>
</li>
@*<a id="navItemStreak2">
   Longest 🔥 @Model.LongestStreak
</a>
</div>*@

