@model IEnumerable<MoodPlus.Models.Entry>

@{
    ViewData["Title"] = "Index";
}
<div class="JournalMainBtn">
<h1 class="JournalHeading">Journal</h1>

<div style="word-wrap:break-word;">
    
    <a id="CreateBtn" class="Journalbutton" asp-action="Create">Create</a>
   </div>
 </div>
   
    @foreach ( Entry entry in Model) {
        <div class= "JournalItem">
            <h5 class="JournalHeader ">My Thoughts:</h5>
            <p >@entry.Body</p>
            <h5 class="JournalHeader">Moods:</h5>
            <div class="MoodGrid">
                @foreach (MoodRating mood in entry.Moods)
                {
                    <div class="MoodGridItem"> 
                         <img class="emoji" src="~/img/@(mood.Feeling)_icon.png"> 
                         <p>@mood.Feeling @mood.Rating</p>
                    </div>
                }
            </div>
            <a class="Journalbutton" asp-action="Update" asp-route-id="@entry?.Id">Update</a> 
            <a class="Journalbutton" asp-action="Delete" asp-route-id="@entry?.Id">Delete</a>
        </div>
    }
    <div id="pageNav" class="JournalMainBtn">
    @if (ViewBag.HasLastPage)
    {
        <a class="Journalbutton" href="/Entry/Index/@ViewBag.LastPage">Prev</a>
    }
  
    @if (ViewBag.HasNextPage)
    {
        <a class="Journalbutton" href="/Entry/Index/@ViewBag.NextPage">Next</a>
    }
    </div>
    <p> Page: @ViewBag.Page</p>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/journal.css" asp-append-version="true" />
}

@section Scripts{

}