@model IEnumerable<MoodPlus.Models.Entry>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Entry</h4>
    <a asp-action="Create">Create</a>
    <hr />
    @foreach ( Entry entry in Model) {
        <h5>Body</h5>
        <p>@entry.Body</p>
        @foreach (MoodRating mood in entry.Moods)
        {
            <p>@mood.Feeling </p>
        }
        <a asp-action="Update" asp-route-id="@entry?.Id">Update</a> 
        <a asp-action="Delete" asp-route-id="@entry?.Id">Delete</a>
    }
</div>
