@model IEnumerable<MoodPlus.Models.Entry>

@{
    ViewData["Title"] = "Index";
}

<h1>Journal</h1>

<div style="word-wrap:break-word;">
    
    <a class="Journalbutton" asp-action="Create">Create</a>
   
    <hr />
    @foreach ( Entry entry in Model) {
        <div class= "JournalItem">
            <h5 class="JournalHeader ">My Thoughts:</h5>
            <p >@entry.Body</p>
            <h5 class="JournalHeader">Moods:</h5>
            <div class="MoodGrid">
                @foreach (MoodRating mood in entry.Moods)
                {
                    <img src=""/>
                    <p class="MoodItem">@mood.Feeling @mood.Rating</p>
                }
            </div>
            <a class="Journalbutton" asp-action="Update" asp-route-id="@entry?.Id">Update</a> 
            <a class="Journalbutton" asp-action="Delete" asp-route-id="@entry?.Id">Delete</a>
        </div>
    }
    
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/journal.css" asp-append-version="true" />
}

@section Scripts{

}