@model MoodPlus.Models.Entry

@{
    ViewData["Title"] = "Update";
}
@section Styles{
    <link rel="stylesheet" href="~/css/JournalUpdate.css" asp-append-version="true" />
}

<h3>Update your journal</h3>



<div>
    <div>
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" value="@Model.PatientId"/>
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden >
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="BodyUpdate">
                <textarea asp-for="Body" class="BodyBox form-control" > </textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" id="UpdateBtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Go Back!</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
