@model IEnumerable<Note>

    <div class="grid-box">
<p>Inbox</p>

<div>
    @foreach(Note n in Model)
    {
        <div style="display: inline;">
            <p style="display: inherit;" class="ReadMessage">@n.Quote</p>
            <a style="display: inherit;" asp-action="Delete" asp-route-id="@n.Id">Delete</a>
        </div>
    }
</div>
<div id="pageNav">
@if (ViewBag.HasLastPage)
{
    <a class="Journalbutton" href="/Note/Inbox/@ViewBag.LastPage">Prev</a>
}
<p>@ViewBag.Page</p>
@if (ViewBag.HasNextPage)
{
    <a class="Journalbutton" href="/Note/Inbox/@ViewBag.NextPage">Next</a>
}
</div>
</div>
<form asp-action="Create">
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

@section Scripts{

}

@section Styles {
    <link rel="stylesheet" href="~/css/Inbox.css" asp-append-version="true" />
}


