@model IEnumerable<MoodPlus.Models.Note>

    @{
         ViewData["Title"] = "Index";
    }




    <p>Hello World</p>







<div>
    <a asp-action="Delete" asp-route-id="Delete">Delete</a> |
    <a asp-action="Create" asp-route-id="Create">Create</a>
</div>