.grid-container {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2px 4px;
    text-align: center;
    grid-gap: 10px;
}

.image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border: solid;
    border-color: var(--PrimaryColor);
}
ul {
    margin: 0;
    padding: 2px;
    color: var(--PrimaryColor);
}
.photo-card {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    justify-content: center;
}