.grid-box {
    display: grid;
    text-align: center;
    border:dotted;
    border-color: var(--PrimaryColor);
    border-radius:10px;
    background-color: #f09589;
    color:black;
    font-size: 20px;
}
