.JournalItem {
    
    background-color: #F09589;
    padding: 20px;
    border-color: #60AEBF;
    border: dotted;
    margin-bottom: 20px;
}

.JournalHeader {
    font-family: "Kanit", sans-serif;
}

.MoodGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
  
}
.MoodItem {
    font-family: "Figtree", sans-serif;
    margin-left: 1px;
 
}
.Journalbutton:link {
    background-color: #1a4B5f;
    color: #F2EBDC;
    padding: 14px 15px;
    text-align: center;
    font-weight:700;
    display: inline-block;
}
.Journalbutton:visited {
        color: #F2EBDC;
 }

.MoodGridForm {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    background-color: #F09589;
    font-family: "Figtree";
    padding: 10px;
    text-align: left;
}
.MoodGridCreate {
    width: 60%;
    height: 10%;
    text-align: right;
    font-family: "Figtree";
}
.moodForm {
    padding-left: 10%;
}
.MoodCreate {
    font-size:large;
    font-weight: 700;
}
.JournalBody {
    margin-top: 5%;
    background-color: #1a4B5f;
    height: 500px;
}
.ThoughtsCreate {
    font-family: "Kanit", sans-serif;
    color: #F2EBDC;
    font-size:x-large;
    padding-left: 30px;
    padding-top:5px;
}
.BodyCreate{
    width:80%;
    margin-left: 10%;
    height: 85%;
    padding-top:1%;
}
#JournalSubmit {
    background-color: #1a4B5f;
    color: #F2EBDC;
    padding: 14px 15px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
}


#EntryIntro {
    font-family: "Figtree", sans-serif;
    font-size:large;
    font-weight:400;
}
.BodyUpdate {
    width: 80%;
    margin-left: 10%;
    height: 85%;
    padding-top: 1%;
    background-color: #F09589;
}
.emoji {
    height: 15px;
    width:  15px;
}