.BodyDelete {
    background-color: #F09589;
    padding: 20px;
    border-color: #60AEBF;
    border: dotted;
    margin-bottom: 20px;
    border-radius: 25px;
    margin-top: 50px;
    height: 45%;
}

.BodyBox {
    height: 200px;
    width: 80%;
    margin-left: 10%;
    border-radius: 15px;
}

#DeleteBtn {
    background-color: #1a4B5f;
    color: #F2EBDC;
    padding: 14px 15px;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    border-radius: 10px;
    margin-top: 25px;
}
