html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.col-sm-10 {
    max-width: 1000px;
}

.text-center {
    line-height: 1.8px;
}